# California Housing (1990s)


This is a typical dataset used to demonstrate Machine Learning algorithms in many books and online courses. The set contains Housing prices in California from the 1990s, which makes it kinda dated if you're looking to get actual predictions out of it, but that doesn't mean we can't use it to train models and compare them effectively! 

Without furthur adue, let me start by listing the steps (pipeline) I'm going to follow in this project. It is taken from Aurélien Géron's "Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow" Appendix B.


> "There are eight main steps:
> 1. Frame the problem and look at the big picture.
> 2. Get the data.
> 3. Explore the data to gain insights.
> 4. Prepare the data to better expose the underlying data patterns to Machine Learning algorithms.
> 5. Explore many different models and shortlist the best ones.
> 6. Fine-tune your models and combine them into a great solution.
> 7. Present your solution.
> 8. Launch, monitor, and maintain your system.
> Obviously, you should feel free to adapt this checklist to your needs."

I'm going to break each point down to smaller steps, which will help ticking each one's box before moving on to the next one

In [4]:
import lib

In [6]:
URL = 'https://github.com/ageron/handson-ml2/raw/master/datasets/housing'
filename = 'housing.tgz'
df = lib.fetch_online_zip_file(URL, filename, True)

In [10]:
df[df.total_bedrooms.isna()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,NEAR OCEAN
20268,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,NEAR OCEAN
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,<1H OCEAN
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,<1H OCEAN
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN

This is a key step in any analysis that protects participants from drifting away from the main objective. Many data-scientist fall into this trap when they become more focused on the problem instead of a solution. I know that finding a better way to code functions, trying different algorithms and scaling techniques is fun! But it's an endless rabbit hole. So don't get lost in it, especially if someone is paying you to find a solution for their problem and you have limited time to do that!